* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wraper{
    max-width: 1200px;
    margin: 0 auto;
}

/* -----------------------------------
Header dalis
----------------------------------- */

.header {  
    background-color: #fff;
    width: 100%;
    height: 72px;
    display: inline-block;
    /* text-align: center; */
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 0px 28px;
    align-items: flex-end;
}

.header .logo{
    width: 200px;
    text-align: left;
    padding: 10px;
    display:inline-block;
    /* align-items: flex-start; */
}
.nav{
    /* display: inline-block; */
    /* text-align: right; */
width: 1000px;
align-content: flex-end;
justify-content: right;
padding: 10;
  
}
.nav ul{
    text-align: right;
    padding: 10px;
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-items: flex-end; */

}
.nav li{
    display: inline-block;
    color: rgb(52, 48, 48);
     padding: 10px;
    text-align: right;
}

.nav li img{
    width: 30px;
    text-align: center;
    display: inline-block;
}

/* -------------------------------------- 
Comfort dalis
--------------------------------------  */

.main {
    width: 100%;
    background-image: url(../style/Images/kids_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1100px;
    padding: 10px auto;
    margin: 30px;
    background-color: #fff;
    margin: 0 30px;
    /* display: flex;
flex-grow: 1;
flex-wrap: wrap; */
}
.main_banner{
    color: #fff;
    min-height: 658px;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-grow: 1;
    padding-left: 70px;
    padding-top: 100px;
}


.comfort{
    line-height: 1.5;
    padding-top: 70px;
    text-align: left;
    flex-basis: 680px;

}

 .comfort .title{
    max-width:550px;
padding-left: 20px;
padding-top: 200px;
padding-bottom: 30px;
    color:white;
    font-size: 66px;
    text-align: left;
    line-height: 1.5;
   
    /* display: flex;
    justify-content:center; */
   /* position: absolute;
   z-index: 1;
   left:10px; */
}

.button{
font-size: 26px;
background: transparent;
border:2px solid white;
text-align: left;
padding: 20px;
overflow: hidden;
}


.comfort a{
    padding: 20px;
    background: transparent;
border:2px solid white;
color: #fff;
text-align: left;
margin: 20px;
text-decoration: none;
}

/* ------------------------------
Welcome dalis
------------------------------ */
.welcome{
    min-height:350px;
    margin:0 auto;
    padding-top:30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.welcome h2{
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
    padding:10px 10px 50px 10px;
    text-align: center;
    color: rgb(64, 101, 117);
}

.welcome p{
text-align: center;
font-size: 16px;
color: rgb(63, 88, 99);
padding:10px;
max-width: 700px;
}

.talk{
    text-decoration: none;
    color:#50b9e1;
}

/* -----------------------------
Offerings
----------------------------- */

.offerings{
    width: 100%;
    min-height: 810px;
    margin: 10px;
    padding: 10px;
    background-color: #50b9e1;
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
}
.chapter{
color: #fff;
text-align: center;
font-style: italic;
padding: 20px;
}
.card{
    width: 28%;
    margin: 30px 20px;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    display: inline-block;
    flex-grow: 2;
}

/* .card .icon{
    text-align: center;
    display: inline-block;
} */
.card img{
    width: 85px;
    /* padding: -11px; */
    margin: 10px;
    text-align: center;
}

.card h4{
  
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;

}
.card p{
    text-align: center;
    line-height: 1.5;
    color: aliceblue;

}

/* --------------------------------------------
camps 
-------------------------------------------- */

.camps{
    max-width: 100%;
    min-height:220px;
    margin:0 auto;
    /* padding:10px 50px 10px 50px; */
    text-align: center;
    padding-top: 30px;

}

.camps h2{
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
    padding:10px 10px 50px 10px;
    text-align: center;
    color: rgb(64, 101, 117);
}

.camps p{
 max-width: 700px;
 display: inline-block;
        text-align: center;
        font-size: 16px;
        color: rgb(63, 88, 99);
  padding: 10px;
        
        
}

/* ---------------------------------------
photo
--------------------------------------- */
.last{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding-bottom: 10px;
    min-height: 490px;
}
.photo{
    margin: 10 10px;
    padding: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    flex-grow: 1;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.photo .image{
    max-height: 200px;
}
.photo h4{
    text-align: left;
    color: rgb(63, 88, 99);
}

.kaina{
    display: flex;
   
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    color: rgb(63, 88, 99);
    padding: 10px 0;
    line-height: 1.5;
}

.soccer{
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}

.soccer h4{
    padding: 0 10px;
}
.block{
    display: flex;
    justify-content: right;
   
}
.photo .pav{
    text-align: left;
    padding:0 10px;
}

.photo .price{
    width: 60px;
    background-color: #50b9e1;
    color:#fff;
    text-align:right;
font-size: 32px;
}

.hr{
   font-style: bold;
}
 .phototext{
    color: rgb(63, 88, 99);
    text-align: left;
    line-height: 1.5;

    padding-bottom: 10px;
 }

 .push{
    width: 180px;
    border: 2px solid #50b9e1;
    color: #50b9e1;
    text-decoration: none;
    text-align: center;
    padding: 10px;
 }

 /* ---------------------------------------
 footer
 -------------------------------------- */

 .footer{
    background-color: #50b9e1;
    width: 100%;
    min-height: 72px;
    padding: 20px;
    margin: 10px;
    color: rgb(63, 88, 99);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
 }

.copy{
    flex-basis: 340px;

}

.icon{

    flex-basis: 247px;
    flex-shrink: 1;
    background-color: #50b9e1;
 }

 .icon ul{
    /* width:100%; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
 }

 
.icon img{
    width: 100%;
    height: 70px;
    padding: 10px;
border-radius:50%;
background-color: #50b9e1;
}
